@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0; 
    padding: 0;
    font-family: 'poppins', sans-serif;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1c2a;
}
.container
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card
{
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #fff;
    margin: 30px 10px; 
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover
{
    height: 420px;
}


.container .card .imgBx
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0,0.2 );
}

.container .card .imgBx img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.4s;

}


.btn{
    display: inline-flex;
    padding: 10px 20px;
    background: var(visibility);
    color: #16384c;
    border-radius: 0.10rem;
}
.btn:hover{
    transform: scale(1.1) translateY(5px);
    transition: .4s;
   
    
}

.btn{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ff702a;
    padding: 15px;
    border-radius: 0.5rem;
    border-color: bisque;
    border-style: none;
}
.btn{
    width: 80px;
    height: 20px;
}

